*{ padding: 0; margin: 0; box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
#root {
  width: 100vw;
  height: 100vh;
  /* height: 150vh; */
  display: flex;
}
#barBg{
  position: relative;
  z-index: 1;
  width: 90vw;
  height: 60vh;
  background-color: #A68A7C;
  top: 30vh;
  margin-left: 10vw;
}
section{
  position: absolute;
  z-index: 2;
  width: 100vw;
  top: 15vh;
  overflow: scroll;
  //부모태그에 scroll
  &>#imgbar{
    width: 300vw;
    display: flex;
    flex-direction: row;
    &>div{
      margin-right: 10vw;
      height: 70vh;
      width: 60vw;
      background-color:gray;
      display: flex;
      flex-direction: row;
      padding: 4vh;
      justify-content: center;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      &>div{
        display: flex;
        margin-top: 4vh;
        height: 10vh;
        width: 50vw;
        justify-content: space-between;
        // border: 1px solid black;
        align-items: center;
        &>h1{
          width: 30vw;
          font-size: 4vh;
          color: #fff;
          font-family: 'Abril Fatface', cursive;
          font-weight: 100;
        }
        &>div:nth-child(2){
          display: flex;
          position: relative;
        }
      }
    }
    &>div:nth-child(1){
      margin-left: 20vw;
    }
  }
}
section::-webkit-scrollbar{
  display: none; 
}

.arrow {
  // position: relative;
}

.arrow::after {
  // position: absolute;
  left: 0; 
  top: 0; 
  content: '';
  width: 50px;
  height: 50px; 
  border-top: 1px solid #fff; 
  border-right: 1px solid #fff; 
  transform: rotate(45deg); 
}