#root {
  width: 100vw;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > #listAd {
  margin-top: 10vh;
  width: 100vw;
}
main > #listAd > img {
  width: 100%;
}
main > div:nth-child(2) {
  margin-top: 5vh;
  width: 80vw;
}
main > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  align-items: center;
}
main > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  width: 3vh;
  height: 3vh;
  border: 1px solid #1b4159;
}
main > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > h2 {
  margin-left: 2vw;
}
main > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  display: flex;
}
main > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  margin-left: 2vw;
}
main > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > div {
  width: 3vh;
  height: 3vh;
  margin-left: 1vw;
}
main > div:nth-child(2) > div:nth-child(2) {
  margin-top: 2vh;
}

.grid {
  margin-top: 1vh;
  width: 80vw;
  display: grid;
  gap: 20px;
  row-gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  margin-bottom: 10vh;
}
.grid > div {
  display: flex;
  flex-direction: column;
}
.grid > div > div:nth-child(1) {
  background-color: #c4c4c4;
  height: 25vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
}
.grid > div > div:nth-child(2) {
  margin-top: 1vh;
  color: #1b4159;
}
.grid > div > div:nth-child(3) {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.grid > div > div:nth-child(3) > div:nth-child(1) {
  display: flex;
  flex-direction: row;
}
.grid > div > div:nth-child(3) > div:nth-child(1) > div {
  width: 3vh;
  height: 3vh;
  margin-right: 2vw;
}
.grid > div > div:nth-child(3) > div:nth-child(2) {
  color: #1b4159;
  font-size: 1rem;
}
.grid > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
  background-color: black;
}
.grid > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
  background-color: #FFDA7C;
}
.grid > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(3) {
  border: 1px solid black;
}
.grid > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
  background-color: black;
}
.grid > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
  border: 1px solid black;
}
.grid > div:nth-child(3) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
  background-color: black;
}
.grid > div:nth-child(3) > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
  background-color: #FFDA7C;
}
.grid > div:nth-child(3) > div:nth-child(3) > div:nth-child(1) > div:nth-child(3) {
  background-color: #FF4337;
}
.grid > div:nth-child(4) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
  background-color: #FFD76F;
}
.grid > div:nth-child(4) > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
  background-color: #5D2C02;
}
.grid > div:nth-child(5) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
  background-color: black;
}
.grid > div:nth-child(5) > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
  border: 1px solid black;
}
.grid > div:nth-child(6) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
  background-color: black;
}
.grid > div:nth-child(6) > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
  background-color: #FFD76F;
}
.grid > div:nth-child(6) > div:nth-child(3) > div:nth-child(1) > div:nth-child(3) {
  background-color: #c4c4c4;
}/*# sourceMappingURL=list.css.map */