*{
  margin: 0; padding: 0; box-sizing: border-box;
}
#root{
  width: 100VW;
  display: flex;
  justify-content: center;
}
main{
  width: 100vw;
  // /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.line {
  width: 100vw;
  height: 3vh;
  position: relative;
  top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line::before {
  content: "";
  flex-grow: 1;
  /* margin: 0vw 3vw; */
  background-color: #1B4158;
  height: 1px;
}
.line::after {
  content: "";
  flex-grow: 1;
  /* margin: 0vw 3vw; */
  background-color: #1B4158;
  height: 1px;
}
.line > h1 {
  margin: 3vw;
  font-size: 1.5rem;
}
.grid{
  margin-top: 5vh;
    width: 80vw;
    display: grid ;
    gap: 20px;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
#mainBanner{
  height: 80vh;
  // background-color: gray;
  margin-top: 6vh;
  // border: 1px solid red;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  &>div{
    // position: absolute;
    width: 100%;
    height: 100%;
    
  }
  &>div:nth-child(1){
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(./image/main/main_banner_1.png);
    padding-top: 7vh;
    padding-left: 7vw;
    // position: absolute;
    &>div{
      width: 55vw;
      height: 23vh;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 6vw;
      padding-right: 6vw;
      &>h1{
        color: #fff;
        font-family: 'HSBombaram3_Thin';
        font-weight: 100;
        font-size: 1.8rem;
      }
      &>p{
        margin-top: 2vh;
        font-family: 'HSBombaram3_Thin';
        font-weight: 100;
        color: #fff;
        font-size: 1rem;
      }
    }
  }
  &>div:nth-child(2){
    background-color: #fff;
    position: absolute;
  }
  &>div:nth-child(3){
    background-color: rgb(116, 20, 20);
    position: absolute;
  }
  &>div:nth-child(4){
    background-color: rgb(49, 49, 49);
    position: absolute;
  }
}
#mainBest{
  // border: 1px solid red;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &>div:nth-child(1){
    // border: 1px solid red;
    margin-bottom: 2vh;
    &>h1{
      font-family: 'Abril Fatface', cursive;
      color: #1B4158;
      font-size: 2rem;
    }
  }
  &>.grid{

      &>div{
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        &>div:nth-child(1){
          // background-color: #c4c4c4;
          height: 25vh;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          background-size: cover;
          // background-image: url(./image/main/best/1.jpg);
          // &>img{
          //   width: 100%;
          // }
        }
        &>div:nth-child(2){
          //설명
          // border: 1px solid green;
          margin-top: 1vh;
        }
        &>div:nth-child(3){
          //컬러와 가격
          margin-top: 5vh;
          // border: 1px solid green;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          &>div:nth-child(1){
            // border: 1px solid red;
            display: flex;
            flex-direction: row;
            &>div{
              //컬러
              width: 3vh;
              height: 3vh;
              margin-right: 2vw;
              
            }
          }
          &>div:nth-child(2){
            // border: 1px solid red;
            font-size: 1rem;
          }
        }
      }
      &>div:nth-child(1){
        &>div:nth-child(3){
          &>div:nth-child(1){
            //컬러
            &>div:nth-child(1){
              background-color: black;
            }
            &>div:nth-child(2){
              border: 1px solid black;
            }
          }
        }
      }
      &>div:nth-child(2){
        &>div:nth-child(3){
          &>div:nth-child(1){
            //컬러
            &>div:nth-child(1){
              background-color: black;
            }
            &>div:nth-child(2){
              background-color: #005A19;
            }
          }
        }
      }
      &>div:nth-child(3){
        &>div:nth-child(3){
          &>div:nth-child(1){
            //컬러
            &>div:nth-child(1){
              background-color: black;
              background: #FF7917;
            }
            &>div:nth-child(2){
              background-color: #BC0000;
            }
          }
        }
      }
      &>div:nth-child(4){
        &>div:nth-child(3){
          &>div:nth-child(1){
            //컬러
            &>div:nth-child(1){
              background-color: #BC0000;

            }
            &>div:nth-child(2){
              background-color: #FFD76F;
            }
            &>div:nth-child(3){
              background-color: #DE50D8;
            }
          }
        }
      }
  }
  &>div:nth-child(3){
    width: 40vw;
    border: 1px solid #1B4158;
    height: 5vh;
    color: #1B4158;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
  }
}

#mainForyou{
  // border: 1px solid red;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &>div:nth-child(1){
    margin-bottom: 2vh;
    &>h1{
      font-family: 'Abril Fatface', cursive;
      color: #1B4158;
      font-size: 2rem;
    }
  }
  &>.grid{
      &>div{
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        &>div:nth-child(1){
          height: 25vh;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          background-size: cover;
        }
        &>div:nth-child(2){
          //설명
          // border: 1px solid green;
          margin-top: 1vh;
        }
        &>div:nth-child(3){
          //컬러와 가격
          margin-top: 5vh;
          // border: 1px solid green;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          &>div:nth-child(1){
            // border: 1px solid red;
            display: flex;
            flex-direction: row;
            &>div{
              //컬러
              width: 3vh;
              height: 3vh;
              margin-right: 2vw;
              
            }
          }
          &>div:nth-child(2){
            // border: 1px solid red;
            font-size: 1rem;
          }
        }
      }
      &>div:nth-child(1){
        &>div:nth-child(3){
          &>div:nth-child(1){
            //컬러
            &>div:nth-child(1){
              background-color: black;
            }
            &>div:nth-child(2){
              border: 1px solid black;
            }
          }
        }
      }
      &>div:nth-child(2){
        &>div:nth-child(3){
          &>div:nth-child(1){
            //컬러
            &>div:nth-child(1){
              border: 1px solid black;
            }
            &>div:nth-child(2){
            }
          }
        }
      }
      &>div:nth-child(3){
        &>div:nth-child(3){
          &>div:nth-child(1){
            //컬러
            &>div:nth-child(1){
              background-color: #FFD76F;
            }
            &>div:nth-child(2){
              background-color: #5D2C02;
            }
          }
        }
      }
      &>div:nth-child(4){
        &>div:nth-child(3){
          &>div:nth-child(1){
            //컬러
            &>div:nth-child(1){
              background-color: black;
            }
            &>div:nth-child(2){
              border: 1px solid black;
            }
            &>div:nth-child(3){
              background-color: #FFD76F;
            }
          }
        }
      }
  }
  &>div:nth-child(3){
    width: 40vw;
    border: 1px solid #1B4158;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
  }
}

#mainMagazine{
  margin-top: 7vh;
  &>div:nth-child(1){
    margin-bottom: 7vh;
    &>h1{
      font-family: 'Abril Fatface', cursive;
      color: #1B4158;
      font-size: 2rem;
    }
  }
  &>div:nth-child(2){
    //매거진 사진
    &>div{
      margin-top: 5vh;
      width: 100vw;
      &>img{
        width: 100%;
      }
    }
    &>div:nth-child(2){
      margin-top: 3vh;
    }
  }
}
#mainAd{
  // border: 1px solid red;
  margin-top: 7vh;
  margin-bottom: 10vh;
  &>div{
    &>img{
      width: 100%;
    }
  }
  &>div{
  }
  &>div:nth-child(2){
    margin-top: 1vh;
  }
}