nav{
  &>div:nth-child(1){
    align-items: center;
  }
  &>div:nth-child(3){
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    &>div:nth-child(1){
      width: 4vh;
      height: 4vh;
    }
  }
}

#root{
  width: 100vw;
  display: flex;
  justify-content: center;
}
main{
  width: 90vw;
  &>div:nth-child(3){
    padding: 3vw;
    &>div{
      width: 90vw;
      &>img{
        width: 100%;
      }
    }
  }
}
#profile {
  display: flex;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  background-image: url("image/line-01.svg");
  background-size:cover;
  background-position: 5vw 40%;
  &>div:nth-child(1){
    height: 3vh;
    display: flex;
    justify-content: flex-end;
    &>div{
      width: 4vh;
      height: 4vh;
    }
    &>div:hover{
      cursor: pointer;
    }
  }
  &>div:nth-child(2){
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &>div:nth-child(1){
      width: 15vh;
      height: 15vh;
      border-radius: 50%;
      background-image: url(./image/myPage/Lisa.png);
      background-size: cover;
      background-position: center;
    }
    &>div:nth-child(2){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
#name{
  &>h1{
    color: var(--color-1);
  }
  &>div{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &>div{
      width: 2vh;
      height: 2vh;
      background-color: var(--color-4);
      border-radius: 50%;
    }
  }
}
section {
  margin-top: 3vh;
  position: relative;
  &>div:nth-child(2){
    display: flex;
    padding: 3vw;
    justify-content: space-between;
    z-index: 2;
    &>div{
      width: 25vw;
      height: 25vw;
      background-color: var(--color-3);
      display: flex;
      background-size: cover;
      background-position: center;
    }
    &>div:nth-child(1){
      background-image: url(./image/myPage/1.jpg);
    }
    &>div:nth-child(2){
      background-image: url(./image/myPage/2.jpg);
    }
    &>div:nth-child(3){
      background-image: url(./image/myPage/3.jpg);
    }
  }
}
article {
  display: flex;
  justify-content: space-between;
  padding: 3vw;
  &>div{
    width: 27vw;
    border: 1px solid var(--color-1);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1vw;
    &>h2{
      border-bottom: 1px solid var(--color-1);
    }
    &>p{
      margin-top: 1vh;
    }
  }
  &>div:hover{
    background-color: var(--color-4);
    border: 1px solid var(--color-3);
    color: white;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 3vw;
  margin-bottom: 8vh;
  &>div{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &>div:nth-child(1){
    border-right: 1px solid var(--color-1);
    border-bottom: 1px solid var(--color-1);
  }
  &>div:nth-child(2){
    border-bottom: 1px solid var(--color-1);
  }
  &>div:nth-child(3){
    border-right: 1px solid var(--color-1);
  }
}