#root {
  width: 100vw;
  height: 155vh;
  display: flex;
  justify-content: center;
}

main {
  width: 90vw;
  /* border: 1px solid #c4c4c4; */
}


#address {
  /* height: 30vh; */
  margin-top: 8vh;
  border: 1px solid #c4c4c4;
  overflow: hidden;
}
#address > div:nth-child(1) {
  height: 4vh;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #c4c4c4;
  padding-left: 3vw;
}
#address > div:nth-child(2) {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vw;
}
#address > div:nth-child(2) > ul >li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
  color: #c4c4c4;
}
#address > div:nth-child(2) > ul:nth-child(1) {
  width: 25vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}

main > div:nth-child(2) {
  height: 40vh;
  /* border: 1px solid red; */
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section {
  width: 90vw;
  height: 16vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
section > div:nth-child(1) {
  width: 16vh;
  height: 16vh;
  background-color: #c4c4c4;
  border-radius: 5px;
}
section > div:nth-child(2) {
  width: 53vw;
  height: 16vh;
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section > div:nth-child(2) >div:nth-child(1) {
  height: 10vh;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
section > div:nth-child(2) >div:nth-child(1) > h2 {
  margin-bottom: 3vw;
  /* border: 1px solid black; */
}
section > div:nth-child(2) >div:nth-child(2) {
  height: 4vh;
  /* border: 1px solid black; */
  display:flex;
  justify-content: flex-end;
  
}
section > div:nth-child(2) >div:nth-child(2) > div {
  background-color: #c4c4c4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 3vw;
  padding: 3vw;
  overflow: hidden;
  color: #fff;
}



main > div:nth-child(3) {
  /* height: 30vh; */
  /* border: 1px solid red; */
  margin-top: 3vh;
  /* 주문금액 */
}

main > div:nth-child(3) > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  padding: 3vw;
  color: #c4c4c4;
}
main > div:nth-child(3) > div:nth-child(2) > ul:nth-child(2) {
  text-align: end;
}
main > div:nth-child(3) > div:nth-child(2) > ul > li{
  margin-bottom: 1vw;
}
main > div:nth-child(3) > div:nth-child(2) > ul > li:nth-child(4){
  text-indent: 0.5rem;
  font-size: 0.9rem;
}
main > div:nth-child(3) > div:nth-child(2) > ul > li:nth-child(5){
  text-indent: 0.5rem;
  font-size: 0.9rem;
}



main > div:nth-child(4) {
  height: 20vh;
  /* border: 1px solid red; */
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* 결제수단 */
}
main > div:nth-child(4) > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  padding: 3vw;
  justify-content: space-between;
  color: #c4c4c4;
}
main > div:nth-child(4) > div:nth-child(2) > div {
  overflow: hidden;
}
main > div:nth-child(4) > div:nth-child(2) >h1 {
  text-align: end;
}

main > div:nth-child(5) {
  width: 90vw;
  height: 5vh;
  background-color: #c4c4c4;
  border-radius: 5px;
  margin-top: 3vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}