h1{
  color: #1B4158;
}
#root{
  width: 100vw;
  height: 150vh;
  display: flex;
  justify-content: center;
}
main {
  width: 90vw;
  &>div:nth-child(2){
    height: 40vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &>div:nth-child(3){
    margin-top: 3vh;
    &>div:nth-child(2){
      display: flex;
      justify-content: space-between;
      padding: 3vw;
      color: #1B4158;
      display: flex;
      &>ul:nth-child(2){
        text-align: end;
      }
      &>ul{
        &>li{
          color: #1B4158;
          margin-bottom: 1vw;
        }
        &>li:nth-child(4){
          color: #1B4158;
          text-indent: 0.5rem;
          font-size: 0.9rem;
        }
        &>li:nth-child(5){
          color: #1B4158;
          text-indent: 0.5rem;
          font-size: 0.9rem;
        }
      }
    }
  }
  &>div:nth-child(4){
    height: 20vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &>div:nth-child(2){
      display: flex;
      flex-direction: row;
      padding: 3vw;
      justify-content: space-between;
      color: #1B4158;
      &>div{
        overflow: hidden;
      }
      &>h1{
        color: #1B4158;
        text-align: end;
      }
    }
  }
  &>div:nth-child(5){
    width: 90vw;
    height: 5vh;
    background-color: var(--color-5);
    border-radius: 5px;
    margin-top: 3vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#address{
  margin-top: 8vh;
  border: 1px solid var(--color-1);
  overflow: hidden;
  &>div:nth-child(1){
    height: 4vh;
    border-bottom: 1px solid #1B4158;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #1B4158;
    padding-left: 3vw;
  }
  &>div:nth-child(2){
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vw;
    &>ul{
      &>li{
        display: flex;
        flex-direction: column;
        margin-bottom: 1vw;
        color: #1B4158;
      }
    }
    &>ul:nth-child(1){
      width: 25vw;
      display: flex;
      flex-direction: column;
      margin-bottom: 1vw;
    }
  }
}

section{
  width: 90vw;
  height: 16vh;
  display: flex;
  justify-content: space-between;
  &>div:nth-child(1){
    width: 16vh;
    height: 16vh;
    background-color: var(--color-3);
  }
  &>div:nth-child(2){
    width: 53vw;
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &>div:nth-child(1){
      height: 10vh;
      display: flex;
      flex-direction: column;
      &>h2{
        margin-bottom: 3vw;
        color: #1B4158;
      }
    }
    &>div:nth-child(2){
      height: 4vh;
      display:flex;
      justify-content: flex-end;
      &>div{
        background-color: var(--color-5);
        border-radius: 5px;
        display: flex;
        align-items: center;
        margin-left: 3vw;
        padding: 3vw;
        overflow: hidden;
        color: #fff;
        border: 3px solid var(--color-5);
        font-size: 0.8rem;
      }
      &>div:hover{
        border: 3px solid var(--color-2);
      }
    }
  }
}


.orderPhoto{
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}