@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{ padding: 0; margin: 0; box-sizing: border-box; 
  list-style: none;
  /* overflow-x: hidden; */
  // max-width: 100%;
  font-family: 'GowunBatang-Regular';
  /* font-family: 'KoPubDotumMedium'; */
  /* letter-spacing: 0px; */
}
:root {
  --color-1:#1b4159;
  --color-2:#142126;
  --color-3:#d9bca3;
  --color-4:#a68a7b;
  --color-5:#735b58;
}
header {
  width: 100vw;
  height: 6vh;
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: #fff;
}
header > nav {
  width: 90vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &>div:nth-child(1){
          height: 5vh;
          display: flex;
          flex-direction: row;
          align-items: center;

          &>div:nth-child(1){
            width: 3vh;
            height: 3vh;
            margin-right: 1vw;
          }
        }
}


header > nav > div:nth-child(2) {
  width: 80vw;
  height: 5vh;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  justify-content: space-between;
  // border: 1px solid red;
  /* 오른쪽 */
}
header > nav > div:nth-child(2) >div:nth-child(1) {
  width: 70vw;
  height: 3.5vh;
  border: 1px solid var(--color-1);
  border-radius: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3vw;
  /* 검색창 */
}
header > nav > div:nth-child(2) >div:nth-child(1) > img {
  display: flex;
  align-items: center;
  border: 1px solid red;
}
header > nav > div:nth-child(2) >div:nth-child(1) > div {
  width: 2.5vh;
  height: 2.5vh;
  display: flex;
  /* 돋보기 */
}
header > nav > div:nth-child(2) >div:nth-child(2) {
  width: 3vh;
  height: 3vh;
  /* 장바구니 */
}





footer {
  width: 100vw;
  height: 7vh;
  border-top: 1px solid var(--color-1);
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}
footer > div {
  /* border: 1px solid red; */
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 아이콘 하나씩 넣어주기 */
footer > div > img {
  height: 50%;

}
footer > div:hover {
  /* background-color: var(--color-5); */
  background-color: var(--color-5);
  color:white;
  cursor: pointer;
}
footer > div > img:hover {
  color: #fff;
  stroke: #fff;
}

.title {
  height: 4vh;
  border-top: 1px solid var(--color-1);
  border-bottom: 1px solid var(--color-1);
  display: flex;
  align-items: center;
  padding: 3vw;
  overflow: hidden;
  justify-content: space-between;
}
h1 {
  font-size: 1rem;
  color: var(--color-2);
  font-weight: bold;
}
h2 {
  font-size: 1rem;
  color: var(--color-2);
}

p {
  font-size: 0.8rem;
  color: var(--color-2);
  /* text-align: justify; */
}


*{padding: 0; margin: 0; box-sizing: border-box;}

#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  height: 50vh;
  width: 90vw;
  /* border: 1px solid #c4c4c4; */
}

main > div:nth-child(1) {
  margin-top: 8vh;
  border-top: 1px solid white;
}

ul {
  padding: 3vw;
}
ul > li {
  font-size: 0.9rem;
  margin-bottom: 1vw ;
}

#text {
  display: flex;

}
#text > div {
  width: 100vw;
  height: 50vh;
  background-color: var(--color-3);
}